.app.dark {
    --bg-color: #030330;
    --inverted--bg-color: #9b9bac;

    --primary-color: #049603;
    --secondary-color: #04ff04;

    --inverted-primary-color: #0944f5;
    --inverted-secondary-color: #051b4d;
}
