:root {
    --bg-color: #9b9bac;
    --inverted--bg-color: #030330;

    --primary-color: #0944f5;
    --secondary-color: #051b4d;
    --inverted-primary-color: #049603;
    --inverted-secondary-color: #04ff04;
}
